
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
}

.menu-container {
    width: 220px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.menu-container h1 {
    margin-top: 0;
    font-size: 24px;
    color: #fff;
}

.menu-table {
    width: 100%;
    border-collapse: collapse;
}

.menu-table a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.menu-table a:hover {
    background-color: #575757;
}

.menu-table td {
    border: None;
    padding: 10px;
}

img {
    display: block;
    margin: 0;
    padding: 0;
    max-width: 20%;
    height: auto;
    border-radius: 8px;
}

.form-container {
    max-width: 600px;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    margin: auto;
    text-align: center;
}

h1 {
    color: #fff;
    margin-bottom: 20px;
}

p {
    color: #ddd;
    line-height: 1.5;
    font-size: 18px;
}

.welcome-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 8px;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="date"], input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #222;
    color: #fff;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #575757;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #777;
}

select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #222;
    color: #fff;
}

